body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1,
  p {
    margin-bottom: 10px;
    color: #333;
  }
  
  .input-box {
    margin-bottom: 10px;
  }
  
  .input-box label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  .input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box; 
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  button {
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
  }
  
  button:hover {
    background-color: rgba(0, 123, 255, 1);
  }
  