#contact-us {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 12px center;
    background-size: 20px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input[type="checkbox"] {
    margin-top: 10px;
  }
  



#l1 {
    text-align: center;
    /* background-color: #1e1e1e; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin-top: 5px;
    font-size: 1.5em;
    color: #4CAF50; 
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-size: 1.2em;
    display: block;
}

a:hover {
    color: #45a049; 
}